<h1 id="page-title">
  Blog Posts
</h1>


<div id="post-wrapper" class="skinny-wrapper">
  <div class="post">
    <% if admin_signed_in? %>
        <p class="admin_welcome">Welcome back Hans</p>
        <%= link_to "Add an Article", new_post_path, :class => "btn btn-success" %>
        <hr>
    <% end %>
  </div>

  <div id="tag_cloud">
    <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
    <hr>
  </div>
  <% @posts.each do |post| %>
      <div class="post">
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
        <h2><a href="#"><%= link_to post.title, post %></a></h2>
        <p>
          <%= raw post.tags.map(&:name).map {|t| link_to t, tag_path(t)}.join(', ') %>
        </p>
        <hr>
      </div>
  <% end %>

  <div class="post">
    <%= will_paginate @posts %>
  </div>
</div>