<div id="post-show-content" class="skinny-wrapper wrapper_padding">
  <header>
    <div class="admin-show">
      <% if admin_signed_in? %>
          <p class="admin_welcome">Your greatest creation Hans</p>
          <%= link_to "Edit this Article", edit_post_path(@post), :class => "btn btn-warning" %>
          <%= link_to "Delete this Article", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger" %>
          <hr>
      <% end %>
    </div>
    <p class="date"><%= @post.created_at.strftime("%A, %b %d") %></p>
    <h1><%= @post.title %></h1>
    <hr>
  </header>

  <div id="content">
    <p><%= markdown @post.content %></p>
  </div>
  <hr>
  <div id="share_box">
    <p>Share The Do LIst</p>

    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <hr>
</div>